/* Base Styles */

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
  width: 1080px;
}

img {
  display: block;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.profile-image {
  grid-area: 1/ 1/ -1/ 2;
}
.profile-user-settings {
  grid-area: 1/ 2/ 2/ 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.profile-stats > ul {
  grid-area: 2/ 2/ 3/ 3;
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}
.profile-bio {
  grid-area: 3/ 2/ 4/ 3;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.gallery img {
  width: 50%;
  height: 50%;
}
